build/
install/
.vs/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe
*.dll
*.lib
*.a
*.so
*.dylib

# Keep source-downloaded libs if you want reproducible local builds.
# Remove this line if you want Git to ignore downloaded SFML:
# lib/sfml/
