build/
install/
.vs/
.vscode/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.o
*.exe
*.out
*.dll
*.lib
*.a
*.so
*.dylib
*.tmp
*.log
*.vtk
*.csv
Makefile